{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Client</h5>
                    <a href="{{ path('client_index') }}" class="btn btn-primary">Facture</a>
                </div>
            </div>
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Facture</h5>
                    <a href="{{ path('facture_index') }}" class="btn btn-primary">Facture</a>
                </div>
            </div>
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Horaire</h5>
                    <a href="{{ path('horaire_index') }}" class="btn btn-primary">Facture</a>
                </div>
            </div>
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Joueur</h5>
                    <a href="{{ path('joueur_index') }}" class="btn btn-primary">Facture</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Reservation</h5>
                    <a href="{{ path('reservation_index') }}" class="btn btn-primary">Facture</a>
                </div>
            </div>
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Partie</h5>
                    <a href="{{ path('partie_index') }}" class="btn btn-primary">Facture</a>
                </div>
            </div>
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Site</h5>
                    <a href="{{ path('site_index') }}" class="btn btn-primary">Facture</a>
                </div>
            </div>
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Theme</h5>
                    <a href="{{ path('theme_index') }}" class="btn btn-primary">Facture</a>
                </div>
            </div>
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Photos</h5>
                    <a href="{{ path('photos_index') }}" class="btn btn-primary">Photos</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}